:root {
	/* LAYOUT */

	--lyt-mobile: 375px;
	--lyt-desktop: 1440px;

	--lyt-mobile-em: 40em;

	/* COLORS */
	--clr-primary-light-cyan: hsl(193, 38%, 86%);
	--clr-primary-neon-green: hsl(150, 100%, 66%);
	--clr-neutral-grayish-blue: hsl(217, 19%, 38%);
	--clr-neutral-dark-grayish-blue: hsl(217, 19%, 24%);
	--clr-neutral-dark-blue: hsl(218, 23%, 16%);

	/* TYPOGRAPHY */

	--fs-base: clamp(1.75rem, 2.5vw, 3.5rem);

	/* FONT */
	--ff-manrope: "Manrope", sans-serif;
	--fw-800: 800;
}

*,
**::before,
**::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: var(--fs-base);
	background-color: var(--clr-neutral-dark-blue);
	font-family: "Manrope", sans-serif;
	vertical-align: baseline;
	overflow: auto;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	border: 0;
}

.main-layout {
	display: grid;
	min-height: 100vh;
	overflow: auto;
}

.advice-card {
	position: relative;
	align-self: center;
	justify-self: center;
	background-color: var(--clr-neutral-dark-grayish-blue);
	border-radius: 0.5em;
	padding: min(0.8em, 2.5vw, 1em);
	padding-bottom: 0;
	text-align: center;
	margin: 0 0.5em;
	max-width: max(15em, 10em);
}

.advice-head {
	color: var(--clr-primary-neon-green);
	font-size: clamp(0.6rem, 2.5vw, 1rem);
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.advice-description {
	color: var(--clr-primary-light-cyan);
	font-size: clamp(1.3rem, 2.5vw, 2rem);
	margin: 0.5em 0em;
}

.button-footer-random {
	position: relative;
	top: 1.8em;
	margin: 0 auto;
	background-color: var(--clr-primary-neon-green);
	padding: 1em;
	border-radius: 2em;
	border: none;
	text-align: center;
	cursor: pointer;
}

.button-randomize-img {
	max-width: 1.5em;
	padding: 0;
	margin-top: 0.2em;
	margin-right: 0.2em;
	margin-left: 0.2em;
}

.picture-footer {
	min-width: 100%;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
